<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <connectionStrings>
    <add name="FireSystemsConnect"
         connectionString="Server=DC1FP1;Database=FireSystemsDB;User Id=REDNA\acerecero;Password=FocusRS2010;Integrated Security=True;Encrypt=False;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>